.row{
    margin-top: 10px !important;
}
#print{
    margin-bottom: 10px;
}
@media print {
    body * {
      visibility: hidden;
    }
    #dates{
        visibility: hidden;
    }
    .btn{
      visibility: hidden;
    }
    #report * {
      visibility: visible;
    }
    #report {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 9999;
    }
  }
  .period{
    text-align: center;
  }