.row{
    margin-top: 20px !important;
}

.error_msg{
    padding-left: 20px;
}
#print{
    margin-bottom: 10px;
}
@media print {
    body * {
      visibility: hidden;
    }
    #print{
        visibility: hidden;
    }
    #report * {
      visibility: visible;
    }
    #report {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 9999;
    }
  }