<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-secondary" role="alert" *ngIf="report_message">
                    {{report_message}}
                   </div>
                <h4 class="card-title">Period</h4>
                <div style="height: auto;" class="mt-4">
                   
                    <form [formGroup]="periodForm" (ngSubmit)="getReport(periodForm.value)" class="row">
                        <div class="form-group col-md-6">
                          <label for="startDate">Start Date</label>
                          <input type="date" class="form-control" id="startDate" formControlName="startDate" placeholder="Enter Names">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="endDate">End Date</label>
                            <input type="date" class="form-control" id="endDate" formControlName="endDate"  placeholder="Enter Phone number">
                          </div>

                          
                          
                          <div class="form-group col-md-4">
                            <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                                <span class="sr-only">Loading...</span>
                              </div>
                            <button type="submit" class="btn btn-lg btn-primary" *ngIf="!isLoading">Search</button>
                          </div>
                      </form>
                        
                    </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row" *ngIf="report">
    <!-- column -->
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-secondary"  (click)="print()" id="print">Print</button>
                <h4 class="card-title">Report</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    
                    <thead>
                        <tr>
                            <th class="border-top-0">Saloon</th>
                            <th class="border-top-0">Total income</th>
                            <th class="border-top-0">Total Expenses</th>
                            <th class="border-top-0">Net Profit</th>
                            <th class="border-top-0">Permision</th>
                            <th class="border-top-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of report; let i = index">
                            
                            <td class="txt-oflo">{{data.name}}</td>
                            <td><span class="font-medium">{{data.total_income | number}}</span></td>
                            <td><span class="font-medium">{{data.total_expenses | number}}</span></td>
                            <td><span class="font-medium">{{data.total_income - data.total_expenses | number}}</span></td>
                            <td><span class="font-medium">{{data.permission}}</span></td>
                            <td><span class="font-medium">
                                <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                                    <span class="sr-only">Loading...</span>
                                  </div>
                                <button (click)="permission(data.id, 'allowed')" class="btn  btn-primary" *ngIf="!isLoading">Grant Access</button> |  <button (click)="permission(data.id, 'denied')" class="btn btn-danger" *ngIf="!isLoading">Revoke</button>
                            </span></td>
                        </tr>
                       
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
</div>