<div class="row">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Client</h4>
                <div class="alert alert-secondary" role="alert" *ngIf="message">
                   Client {{message}}
                  </div>
                
                <div style="height: auto;" class="mt-4">
                    <form [formGroup]="addSubForm" (ngSubmit)="addSub(addSubForm.value)" class="row form-row" method="post">
                        <div class="form-group col-md-6">
                          <label for="names">Names</label>
                          <input type="text" class="form-control" id="names" formControlName="name" placeholder="Enter Names"  required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone">Phone</label>
                            <input required type="tel" class="form-control" id="phone" formControlName="phone"  placeholder="Enter Phone number">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="district">District</label>
                            <input required type="text" class="form-control" id="district" formControlName="district" placeholder="Enter District">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="sector">Sector</label>
                            <input required type="text" class="form-control" id="sector" formControlName="sector"  placeholder="Enter Sector">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="cell">Cell</label>
                            <input required type="text" class="form-control" id="cell" formControlName="cell"  placeholder="Enter Cell">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="village">Village</label>
                            <input required type="text" class="form-control" id="village" formControlName="village" placeholder="Enter Village">
                          </div>
                          
                          <div class="form-group col-md-4">
                            <label for="service">Service</label>
                            <select id="service" class="form-control" formControlName="service">
                                <option *ngFor="let service of profile.services" value="{{service.service}}">{{service.service}}</option>
                               
                                
                              </select>
                          </div>
                          <div class="form-group col-md-4">
                            <label for="amount">Amount</label>
                            <input required type="text" class="form-control" formControlName="amount" id="amount"  placeholder="Enter Amount">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="times">Number of times paid for</label>
                            <input required type="number" class="form-control" formControlName="times" id="times">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="dueDate">Due Date</label>
                            <input type="date" class="form-control" id="dueDate" formControlName="due_date">
                          </div>
                          <div class="form-group col-md-4 add-btn">
                            <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                                <span class="sr-only">Loading...</span>
                              </div>
                            <button type="submit" class="btn btn-lg btn-primary" *ngIf="!isLoading">Add</button>
                          </div>
                        
                      </form>
                        
                    </div>
            </div>
        </div>
    </div>

  
</div>
<div class="row">
    <!-- column -->
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Subscribers</h4>
            </div>
            <p class="emptymsg" *ngIf="!report">No subscribers</p>
            
            <div class="table-responsive" *ngIf="report">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="border-top-0">Names</th>
                            <th class="border-top-0">Phone number</th>
                            <th class="border-top-0">Service</th>
                            <th class="border-top-0">Number of times</th>
                            <th class="border-top-0">Due Date</th>
                            <th class="border-top-0">Amount</th>
                            <th class="border-top-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of report; let i = index">
                           
                            <td class="txt-oflo">{{data.name}}</td>
                            <td class="txt-oflo">{{data.phone}}</td>
                            <td class="txt-oflo">{{data.service}}</td>
                            <td class="txt-oflo">{{data.times}}</td>
                            <td class="txt-oflo">{{data.due_date}}</td>
                            <td><span class="font-medium">{{data.amount | number}}</span></td>
                           <td><button (click)="add(data)" data-toggle="modal"  data-target="#add_client"  class="btn btn-primary">Receive</button></td>
                        </tr>
                       
                    </tbody>
                   
                </table>
            </div>
            <div class="modal fade" id="add_client" tabindex="-1" role="dialog" aria-labelledby="addTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Add Client</h5>
                  
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
                    <div class="alert alert-secondary" role="alert" *ngIf="addmessage">
                      Client {{addmessage}}
                     </div>
                    <form [formGroup]="addClinetForm" (ngSubmit)="addClient(addClinetForm.value)" class="row form-row" method="post">
                      <div class="form-group col-md-6">
                        <label for="names">Names</label>
                        <input type="text" class="form-control" id="names" formControlName="name" placeholder="Enter Names"  required>
                      </div>
                      <div class="form-group col-md-6">
                          <label for="phone">Phone</label>
                          <input required type="tel" class="form-control" id="phone" formControlName="phone"  placeholder="Enter Phone number">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="district">District</label>
                          <input required type="text" class="form-control" id="district" formControlName="district" placeholder="Enter District">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="sector">Sector</label>
                          <input required type="text" class="form-control" id="sector" formControlName="sector"  placeholder="Enter Sector">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="cell">Cell</label>
                          <input required type="text" class="form-control" id="cell" formControlName="cell"  placeholder="Enter Cell">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="village">Village</label>
                          <input required type="text" class="form-control" id="village" formControlName="village" placeholder="Enter Village">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="barber">Employee</label>
                          <select id="barber" class="form-control" formControlName="barber">
                              <option *ngFor="let employee of employees; let i = index" value="{{employee.id}}">{{employee.name}}</option>
                             
                            </select>
                        </div>
                        
                        
                        <div class="form-group col-md-4 add-btn">
                          <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                              <span class="sr-only">Loading...</span>
                            </div>
                          <button type="submit" class="btn btn-lg btn-primary" *ngIf="!isLoading" >Add</button>
                        </div>
                      
                    </form>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reload()">Close</button>
                 
                  </div>
              </div>
              </div>
          </div>
            
        </div>
    </div>
   
</div>