<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<div class="row" id="dates">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-secondary" role="alert" *ngIf="report_message">
                    {{report_message}}
                   </div>
                <h4 class="card-title">Period</h4>
                <div style="height: auto;" class="mt-4">
                   
                    <form [formGroup]="periodForm" (ngSubmit)="getReport(periodForm.value)" class="row">
                        <div class="form-group col-md-6">
                          <label for="startDate">Start Date</label>
                          <input type="date" class="form-control" id="startDate" formControlName="startDate" placeholder="Enter Names">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="endDate">End Date</label>
                            <input type="date" class="form-control" id="endDate" formControlName="endDate"  placeholder="Enter Phone number">
                          </div>
                          
                          <div class="form-group col-md-4">
                            <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                                <span class="sr-only">Loading...</span>
                              </div>
                            <button type="submit" class="btn btn-lg btn-primary" *ngIf="!isLoading">Search</button>
                          </div>
                      </form>
                        
                    </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row" *ngIf="report">
    <!-- column -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <p class="subs"> From: <b> {{start}}</b> &nbsp; To: <b> {{end}}</b></p>
                <h4 class="card-title">Total Count</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" *ngFor="let data of report.data; let i = index">
                    <caption>{{data.name}}</caption>
                    <thead>
                        <tr>
                            <th class="border-top-0">Service</th>
                            <th class="border-top-0">Number of clients</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of data.clients; let i = index">
                            
                            <td class="txt-oflo" *ngIf="client.clients.length > 0">{{client.service}}</td>
                            <td *ngIf="client.clients.length > 0"><span class="font-medium">{{client.clients.length}}</span></td>
                        </tr>
                       
                        
                        <tr>
                           
                            <td class="txt-oflo"><b> Total income generated</b></td>
                            <td><span class="font-medium"><b> {{data.income}}</b></span></td>
                           
                        </tr>
                       
                    </tbody>
                    <p class="subs"> Total Monthly subscribers received: <b> {{data.subscribers}}</b></p>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        

        <div class="card">
            <div class="card-body">
                <h5 class="card-title h5 m-b-5">Total Clients </h5>
                <h3 class="font-light">{{total_clients}}</h3>

                <h5 class="card-title m-b-5">Total Income generated </h5>
                <h3 class="font-light">{{total_price | number}} RWF</h3>

                <h5 class="card-title m-b-5">Total monthly subscription payments  </h5>
                <h3 class="font-light">{{report.sub_income | number}} RWF</h3>

                <h5 class="card-title m-b-5">Grand Total </h5>
                <h3 class="font-light">{{report.sub_income + total_price | number}} RWF</h3>
                
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Expenses</h4>
            </div>
            <div class="table-responsive" *ngIf="!error_msg">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="border-top-0">Expense</th>
                            <th class="border-top-0">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expense of expenses; let i = index">
                            
                            <td class="txt-oflo">{{expense.expense}}</td>
                            <td><span class="font-medium">{{expense.price | number}} RWF</span></td>
                        </tr>
                        <tr >
                            
                            <td class="txt-oflo"><b>Total</b></td>
                            <td><span class="font-medium"><b>{{total_expenses | number}} RWF</b> </span></td>
                        </tr>
                        
                       
                    </tbody>
                </table>
            </div>
            <p class="error_msg" *ngIf="error_msg">{{error_msg}}</p>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-b-5">Net Profit</h5>
                <h3 class="font-light" *ngIf="total_expenses">{{(report.sub_income + total_price) - total_expenses | number}} RWF</h3>
                <h3 class="font-light" *ngIf="!total_expenses">{{report.sub_income + total_price | number}} RWF</h3>
                
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Count</h4>
                <div *ngFor="let total of totals">
                    <h5 class="card-title h5 m-b-5">{{total.service}} </h5>
                    <h3 class="font-light">{{total.clients}}</h3>
                </div>
            
            </div>
        </div>
    </div>
</div>

