<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Abakiriya b'uyu munsi</h4>
                <div class="alert alert-secondary" role="alert" *ngIf="error_msg">
                   {{error_msg}}
                   </div>
                <div style="height: auto;" class="mt-4 col-md-6">
                    <form [formGroup]="employeeForm" (ngSubmit)="getReport(employeeForm.value)" class="row">
                        <div class="form-group col-md-12">
                          <label for="nid">Indangamuntu</label>
                          <input type="text" class="form-control" id="nid" formControlName="nid" >
                        </div>
                        
                          
                          <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-lg btn-primary">Reba</button>
                            
                          </div>
                      </form>
                    </div>
            </div>
        </div>
    </div>
    
</div>
<div class="row" *ngIf="report">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
               
                <div class="table-responsive">
                    <h3>{{report.name}}</h3>
                    <p *ngIf="report.clients.length == 0">Nta abakiriya urakira</p>
                    <table class="table table-hover" *ngIf="report.clients.length > 0">
                        <thead>
                            <tr>
                                <th class="border-top-0">Amazina</th>
                                <th class="border-top-0">Serivise</th>
                                <th class="border-top-0">Igihe</th>
                                
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of report.clients; let i = index">
                                
                                <td class="txt-oflo">{{client.name}}</td>
                                <td class="txt-oflo">{{client.service}}</td>
                                <td class="txt-oflo">{{client.arrival_time}}</td>
                               
                               
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>