.nav-container{
    background-color: #233242;
    height: inherit;
    padding-top: 60px;
    padding-bottom: 25%;
  
}
.name{
    padding-top: 5px;
    padding-left: 40px;
    color: white;
    font-family: abel;
}
.nav-menu{
    display: none;
}
.nav-btn{
    color: white;
}
.row{
    margin: 0px !important;
    height: auto;
    padding-bottom: 10px;
}
.nav-bar{
    background-color: #233242;
    width: 100%;
    height: 50px; 
    position: fixed;
    z-index: 999;
    
}
.logout-sidenav{
    background-color:#233242;
    border: none;
    text-align: left;
}
.logout-navbar{
    background-color:#fff;
    border: none;
    text-align: left;
    color: #233242;
}
@media only screen and (max-width: 767px) {
    .nav-container{
       display: none;
        
    }
    .nav-menu{
        display: block;
        margin-top: 5px;
       
    }
    .name{
        padding: 5px;
        color: white;
        font-family: abel; 
        float: right;
    }
    
}
.side-nav-link{
    color: white !important;
    margin-top: 20px;
}
.nav-bar-link{
    color: #233242 !important;
}
.menu-icon{
    margin-right: 5px;
}
.nav-link:hover{
    background-color: #0f1822;
    color: white !important;
}
.content{
    margin-top: 60px;
}
.user-icon{
    margin-right: 5px;
    font-size: 30px;
    margin: 0 auto;
    color: white !important;
}
.user-name{
    font-size: 18px;
    color: white !important;
}

@media print {
    body * {
      visibility: hidden;
    }
    .nav-container{
        visibility: hidden;
    }
    .nav-bar{
        visibility: hidden;
    }
    
  }