<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-secondary" role="alert" *ngIf="settings_message">
                    {{settings_message}}
                   </div>
                <form [formGroup]="settingsForm" (ngSubmit)="editSettings(settingsForm.value)" class="row"> 
                    <div class="form-group col-md-12">
                    
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username" >
                    </div>
                    <div class="form-group col-md-12">
                    
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="user_email" formControlName="email" >
                    </div>
                    
                    

                    <div class="form-group col-md-12" >
                    <label for="current_password">Current Password</label>
                    <input type="password" class="form-control" id="current_password" formControlName="current_password" placeholder="Enter Current Password">
                    </div>
                    <div class="form-group col-md-12" >
                        <label for="new_password">New Password</label>
                        <input required type="password" class="form-control" id="new_password" formControlName="password"  placeholder="Enter New Password">
                    </div>
                    
                    
                    <div class="form-group col-md-12">
                        <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                            <span class="sr-only">Loading...</span>
                          </div>
                        <button type="submit" class="btn btn-lg btn-primary " *ngIf="!isLoading">Update</button>
                    </div>
                    
                </form> 
            </div>
        </div>
    </div>
</div>
